<div class="row">
  <div class="col-xs-2">
    <div class="buttons">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Voltar', collection_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
